*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
} */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
} */
@media screen and (max-width:1440px) {
  body{
    background-color:hsl(30, 38%, 92%);
  }
  h1{
    font-family: "Fraunces", serif;
    font-weight: 700;
  }
  p{
    font-weight: 500;
  }
  .main{
    /* border: 2px solid red; */
    background-color:hsl(0, 0%, 100%); ;
    width: 520px;
    margin-left: 33%;
    margin-top: 120px;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    border-radius: 9px 9px 9px 9px;
  
  }
  .price{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
  }
  .price p{
    text-decoration: line-through;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: lighter;
    font-size: 13px;
  }
  .price h1{
    color: hsl(158, 36%, 37%);
  }
  .image{
    /* border: 2px solid green; */
    width: 210px;height: 328px;
  }
  .content{
    /* border: 2px solid blue; */
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
  }
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    border-color: transparent;
    height: 40px;
  }
  button:hover{
    background-color:hsl(137, 70%, 11%);
  }
  button p{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
  }
  .image1{
    width: 260px;height: 348px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }
  .cp{
    color: hsl(228, 12%, 48%);
    font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-weight: 700;
  }
  .hp{
    color: hsl(228, 12%, 48%);
    font-weight: 600;
    letter-spacing: 2px;
  }
}

@media screen and (width:375px) {
  .main{
    display: flex;
    flex-direction: column;
    width: 260px;
    border-radius: 9px 9px 9px 9px;
    margin: 55px;
  }

  .content{
    padding-left: 12px;
  }

  .image1{
    border-radius: 9px 9px 0px 0px;
  }

}
@media screen and (width:360px) {
  .main{
    display: flex;
    flex-direction: column;
    width: 260px;
    border-radius: 9px 9px 9px 9px;
    margin: 50px;
  }
  
  .content{
    padding-left: 12px;
  }

  .image1{
    border-radius: 9px 9px 0px 0px;
  }

}